.wrapper{
	display: block;
	position: relative;
	width: 1000px;
    margin: 0 auto;
	padding-bottom: 30px;
}

.header{
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #128aa7;
}

.contacts {
	float: right;
}

.contacts li{
	color: #128aa7;
	font-family: Tahoma;
	font-size: 12px;
	text-align: left;
	padding-top: 10px;
	margin-right: 10px;
}

.logo p{
	position: absolute;
	top: 100px;
	left: 50px;
	color: #128aa7;
	font-family: Tahoma;
	font-size: 12px;

}

.contries{
	float: right;
	clear: both;
	margin-top: 10px;
}

.contries li{
    display: inline-block;
    text-align: center;
    font: 10px Tahoma;
}

.contries a{
	color:#128aa7;
}

.picture img{
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid #128aa7;
}

.picture img{
    width: 1000px;
    height: 240px;
}

.clearfix:after{
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
.topmenu{
	background: #343434;
}
	
.topmenu > li {
  display: inline-block;
  font: 14px Tahoma;
  position: relative;
}

.topmenu > li > a {
  display: block;
  color: white;
  text-decoration: none;
  outline: none;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 12px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.submenu a{
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
}

.one .submenu {
  display: none;
}

.one ul li:hover .submenu {
  display: block;
  margin: 0;
  padding: 0;
  background: #343434;
}

.one ul li a:hover .submenu{
    color: white;
}