@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	background-color: #ffffff;
}

.wrapper {
	display: block;
	color: #ffffff;
	padding: 50px;
	margin: 0 auto;
	width: 1000px;
	height: 850px;
	border-left: 1.5px solid -webkit-box-shadow: 0px -4px 5px 2px rgba(219,219,219,0.66);
-moz-box-shadow: 0px -4px 5px 2px rgba(219,219,219,0.66);
box-shadow: 0px -4px 5px 2px rgba(219,219,219,0.66);
	border-right: 1.5px solid -webkit-box-shadow: 0px -4px 5px 2px rgba(219,219,219,0.66);
-moz-box-shadow: 0px -4px px 2px rgba(219,219,219,0.66);
box-shadow: 0px 2px 5px 2px rgba(219,219,219,0.66);
}

.logo{
	padding-bottom: 40px;
}
.menu {
	
	background: rgba(92,92,92,1);
    background: -moz-linear-gradient(top, rgba(92,92,92,1) 0%, rgba(92,92,92,1) 0%, rgba(81,81,81,1) 49%, rgba(71,70,70,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,92,92,1)), color-stop(0%, rgba(92,92,92,1)), color-stop(49%, rgba(81,81,81,1)), color-stop(100%, rgba(71,70,70,1)));
    background: -webkit-linear-gradient(top, rgba(92,92,92,1) 0%, rgba(92,92,92,1) 0%, rgba(81,81,81,1) 49%, rgba(71,70,70,1) 100%);
    background: -o-linear-gradient(top, rgba(92,92,92,1) 0%, rgba(92,92,92,1) 0%, rgba(81,81,81,1) 49%, rgba(71,70,70,1) 100%);
    background: -ms-linear-gradient(top, rgba(92,92,92,1) 0%, rgba(92,92,92,1) 0%, rgba(81,81,81,1) 49%, rgba(71,70,70,1) 100%);
    background: linear-gradient(to bottom, rgba(92,92,92,1) 0%, rgba(92,92,92,1) 0%, rgba(81,81,81,1) 49%, rgba(71,70,70,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#474646', GradientType=0 );
	
}

.menu ul {
   height: 36px;
   list-style-type: none;
}

.menu ul li {
   display: inline-block;
}

.menu ul li a {
	display: block;
	padding: 10px 40px;
	margin-top: 1px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14.67px;
	text-decoration: none;
	color: #f9f9f9;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;

	
}

.menu ul li a:hover { 
	background: #343434;
	border-color: #838383;

}

.content {
	float: left;
	background: #ffffff;
}

.content ul{
	 margin-top: 20px;

}
.content ul li {
	 border: 1px #c8c8c8 solid;
	 border-bottom: none;
	 border-collapse: collapse;
	 width: 240px;
	 height: 40px;
}

.content ul li a{
	display: block;
	margin: 13px 0 0 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13.33px;
    text-decoration: none;
	color: #656363;
}
.content ul li:last-child{
	border-bottom: 1px #c8c8c8 solid;
}

.content ul li:hover{
	background: #f9f9f9;
}
.content ul li a:hover{
	color: #2c2c2c;
	padding-left: 20px;
}
.img {
	float: right;
	margin-top: 20px;
	border: 1px #c8c8c8 solid;
	width: 700px;
	height: 400px;
	text-align: center;
	padding-top: 50px;

}
.text{
     display: block;
     float: right;
     width: 70%;
}

.text p {
    text-align: left;
    margin: 35px 0 60px 0;
    line-height: 21.33px;
	font-size: 13.33px;
	font-family: 'Open Sans', sans-serif;
	color: #2c2c2c;
}

.menu2{
   clear: both;
   background-color: #e1e1e1;
}

.menu2 ul{
    list-style-type: none;
  
}

.menu2 ul li{
    display: inline-block;  
}

.menu2 ul li a{
	display: block;
	padding: 10px 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13.33px;
	text-decoration: none;
	color: #2c2c2c;
}

.menu2 ul li:last-child{
	float: right;
	display: block;
	padding: 10px 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13.33px;
	color: #2c2c2c;

}
.menu2 ul li a:hover{
	text-decoration: underline;
}